body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0 auto;
}

body > div {
    padding: 72px 15vw;
    display: flex;
    align-items: center;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 16px;
    border-radius: 8px;
    border-color: #F9FAF8;
}

.dark-background {
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header,
.footer {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.banner p,
.header a,
.footer p {
    font-size: 18px;
    color: #E5E7EB;
}

.banner p,
.banner h1{
    margin: 4px 10% 4px 0;
}
.header ul{
    display: flex;
    gap: 1em;
}

.header li::marker{
    content: "";
}

.header a {
    text-decoration: none;
}

.banner{
    display: flex
}

.banner .image {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;   
    background-color: gray;
    width: 400px;
    height: 200px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information h2{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}
.information .image{
    width: 100px;
    height: 100px;
    border: 3px solid blue;
    border-radius: 16px;
}

.information .cards{
    display: flex;
    justify-content: space-around;
    margin: 0 10%;
    gap: 16px;
}

.cards .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote-wrapper {
    width: 75%;
    margin: 0 auto;
}
.quote-wrapper p{
    text-align: right;
}

.quote {
    background-color: #E5E7EB;
}
.quote q{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937
}
.quote p{
    font-size: 28px;
    font-weight: bold;
}
.call-to-action{
    width: 100%;
    margin: 0 auto;
    background-color: #3882F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.call-to-action button{
    flex-shrink: 0;
}

.footer p{
    margin: 1em auto;
}